/* You can add global styles to this file, and also import other style files */

button {
	background-color: white;
	border-radius: 5px;
	font: bold 0.9em "Fira Sans", sans-serif;
}

.button {
	background-color: white;
	border-radius: 5px;
	font: bold 0.9em "Fira Sans", sans-serif;
}
